.nav-tabs {
    border: 0;
    margin: auto;
    width: 21em;
    li {
        a {
            color: #555;
            padding: .5em 1em 1em 1em;
            i {
            }
        }
    }
}
@media (max-width:600px) {
    .fa-2x {
        font-size: 1.75em;
    }
}